body{
  font-size: 20px;
  font-family: "Libre Franklin"
}

.container{
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: 0 auto;
  width: 40rem;
}

#chart{
  width: 100%;
}

#form{
  display: inline-flex;
  width: 100%;
  justify-content:space-between;
  margin: 0 auto;
  height: 3rem;
}

#email{
  border-radius: 2rem;
  width: 25rem;
  border-color: var(--gray);
}

#submit{
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 2rem;
  width: 10rem;
}


/*colors*/

:root {
  --blue: hsl(223, 87%, 63%);
  --pale_blue: hsl(223, 100%, 88%);
  --light_red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very_dar_blue: hsl(209, 33%, 12%);
}

/*font*/

h1{
  color: var(--gray);
  font-weight: 300;
}

h2{
  font-weight: 600;
  color: var(--gray);
  font-size: 1.3rem;
}

bold{
  font-weight: 700;
  color: var(--very_dark_blue);
}

p{
  font-weight: 300;
  color: var(--gray);
}

/*icons*/
.icons{
  display: inline-flex;
  color: var(--blue);
}
