body{
  font-size: 20px;
  font-family: "Libre Franklin"
}

.container{
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: 0 auto;
  width: 40rem;
}

#chart{
  width: 100%;
}

#form{
  display: inline-flex;
  width: 100%;
  justify-content:space-between;
  margin: 0 auto;
  height: 3rem;
}

#email{
  border-radius: 2rem;
  width: 25rem;
  border-color: hsl(0, 0%, 59%);
}

#submit{
  background-color: hsl(223, 87%, 63%);
  color: white;
  border: none;
  border-radius: 2rem;
  width: 10rem;
}

#copyright{

}

/*font*/

h1{
  color: hsl(0, 0%, 59%);
  font-weight: 300;
}

h2{
  font-weight: 600;
  color: hsl(0, 0%, 59%);
  font-size: 1.3rem;
}

bold{
  font-weight: 700;
  color: hsl(209, 33%, 12%);
}

p{
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}

/*icons*/
.icons{
  display: inline-flex;
  color: hsl(223, 87%, 63%);
}
