body{
  font-size: 18px;
  font-family: "Libre Franklin"
}

.container{
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: 3rem auto;
  width: 30rem;

}

#chart{
  width: 100%;
}

#form{
  display: inline-flex;
  width: 100%;
  justify-content:space-between;
  margin: 0 auto;
  height: 3rem;
}

#email{
  border: 1px solid var(--pale_blue);
  border-radius: 2rem;
  width: 18rem;
  padding-left: 1.5rem;
}

#email::placeholder{
  color: var(--pale_blue);
  font-weight: 300;
}

#submit{
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 2rem;
  width: 8rem;
  box-shadow: 2px 6px 12px var(--pale_blue);
}

#submit:hover{
  cursor: pointer;
}

.error {
  justify-content: left;
  width: 100%;
  padding-left: 2.5rem;
  position: relative;
  bottom: .5rem;
}


/*colors*/

:root {
  --blue: hsl(223, 87%, 63%);
  --pale_blue: hsl(223, 100%, 88%);
  --light_red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very_dar_blue: hsl(209, 33%, 12%);
}

/*font*/

h1{
  color: var(--gray);
  font-weight: 300;
  margin-top: 3rem;
}

h2{
  font-weight: 600;
  color: var(--gray);
  font-size: 1rem;
  position: relative;
  bottom: 2rem;
}

bold{
  font-weight: 700;
  color: var(--very_dark_blue);
}

p{
  font-weight: 300;
  color: var(--pale_blue);
}

#errorMessage{
  color: var(--light_red);
  font-size: .9rem;
  visibility: hidden;
}

/*icons*/
.icons{
  display: inline-flex;
  justify-content: space-between;
  width: 25%;
  color: var(--blue);
  margin-top: 3rem;
}

#twitter, #facebook, #instagram{
  border: 1px solid var(--gray_input);
  padding: .5rem;
  border-radius: 1.5rem;
}

#twitter, #facebook, #instagram:hover {
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .container{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 3rem auto;
    width: 80%;

  }

  #form{
    display: inline-flex;
    flex-direction: column;
    width: 90%;
    height: 8rem;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  #email{
    border-radius: 2rem;
    width: 80%;
    border-color: var(--pale_blue);
    height: 2.8rem;
    padding-left: 0;
  }

  #email::placeholder {
    position: relative;
    left: 1.6rem;
  }

  #submit{
    background-color: var(--blue);
    color: white;
    font-weight: 300;
    Font-size: 1rem;
    border: none;
    border-radius: 2rem;
    width: 80%;
    height: 2.8rem;
  }

}
